*{
    margin: 0;
    padding: 0;
}
#wrapper{
    margin: 0 auto;
    width: 960px;
}
#file{
    width: 200px;
    padding-left: 10px;
    padding-right: 10px;
}
#search-box{
    width: 140px;
    height: 23px;
    vertical-align: super;
}
#wrapper > form > p:nth-child(2) > input[type="image"]:nth-child(3){
    vertical-align: sub;
}
#wrapper > form > p:nth-child(2){
    margin-top: 10px;
}
