.navbar-wrapper {
	position: initial;
	top: 0;
	left: 0;
	right: 0;
	z-index: 20;
	padding: 20px 0 0 0;
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.navbar-wrapper {
	background: #234465;
}
header{
	display: block;
}