*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Verdana", "Helvetica";
    font-size: 14px;
}
body > main > section:nth-child(2) > ul > li{
    display: inline-block;
    vertical-align: top;
    width: 100px;
    margin: 10px 10px 0 0;
}
body > main > section:nth-child(2) > ul > li > img{
    display: block;
    margin: 0 auto;
}
body > main > section:nth-child(2) > ul > li > p{
    text-align: center;
}
body > main > section:nth-child(2) > ul{
    margin-left: 10px;
}
h1{
    font-size:23px;
}
h3{
    font-size: 15px;
}