* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #CCC;
}

#wrapper {
    margin: 10px auto;
    width: 960px;
    background-color: #DDD;
}

@font-face {
    font-family: "Pamela wants to Ride";
    src: url("fonts/Pamela wants to Ride.ttf");
}

@font-face {
    font-family: "Pamela want a Bike to Ride";
    src: url("fonts/Pamela%20want%20a%20Bike%20to%20Ride.ttf");
}

.logo img {
    margin-left: 10px;
    margin-right: 30px;
    margin-top: 10px;
    width: 300px;
    height: 50px;
    padding-left: 5px;
    padding-right: 80px;
    padding-top: 5px;
}

nav > ul > li, nav, div.logo {
    display: inline-block;
}

nav > ul > li > a {
    color: #c71444;
    text-decoration: none;
    float: right;
    font-family: "Pamela wants to Ride";
    font-size: 30px;
    padding-right: 25px;
    padding-top: 20px;
}

nav > ul > li > a:hover {
    font-family: "Pamela want a Bike to Ride";
}

header {
    height: 90px;
}

footer {
    height: 90px;
}

.navigation {
    margin-right: 20px;
}

p {
    width: 50%;
    line-height: 20px;
    padding: 20px;
    float: left;
    position: relative;
}
.social-links{
    margin-right: 150px;
}
.social-links > div {
    display: inline-block;
}

footer > .social-links .facebook {
    background: url("images/sprites-transparent.png");
    width: 75px;
    height: 75px;
    background-position: -75px 0;
    margin: 5px;
}
footer > .social-links .twitter {
    background: url("images/sprites-transparent.png");
    width: 75px;
    height: 75px;
    background-position: 0px 0;
    margin: 5px;
}
footer > .social-links .vimeo {
    background: url("images/sprites-transparent.png");
    width: 75px;
    height: 75px;
    background-position: -225px 0;
    margin: 5px;
}
footer > .social-links .facebook:hover {
    background: url("images/sprites-transparent.png");
    width: 75px;
    height: 75px;
    background-position: -75px -154px;
    margin: 5px;
}
footer > .social-links .twitter:hover {
    background: url("images/sprites-transparent.png");
    width: 75px;
    height: 75px;
    background-position: 0 -77px;
    margin: 5px;
}
footer > .social-links .vimeo:hover {
    background: url("images/sprites-transparent.png");
    width: 75px;
    height: 75px;
    background-position: -225px -230px;
    margin: 5px;
}
table{
    width: 500px;
    border: 5px solid grey;
    background-color: yellow;
    text-align: center;

}
th{
    background-color: orange;
    padding: 15px;
}
tbody tr td{
    padding: 10px;
}
td>a{
    border: 3px solid blue;
    padding-left: 8px;
    padding-right: 8px;
    text-decoration: none;
    margin: 3px;
}
td>.yes:hover{

    background-color: green;
}
td>.no:hover{

    background-color: red;
}

.photos img{
    display: inline-block;
    padding: 10px;
}

#wrapper > main > div{
    display: inline-block;
    vertical-align: top;
}
.submit{
    width: 35%;
    background-color: green;
    cursor: pointer;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px;
}
.reset{
    width: 35%;
    background-color: red;
    cursor: pointer;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
}